/node_modules
/public/hot
/public/docs
public/docs/
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
vendor/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
packagist
package-lock.json
/storage
/config/baokim_config.php